.BgOne {
    background-color: #082939;
}
.BgTwo {
    background-color: #08252E;
}
.LmpUploadControl {
    padding: 8px 5px 8px 5px;
    margin: 0;
    overflow: auto;
}
.Error {
    color: #DDDDDD;
    background-color: #333333;
}